@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f0f2f5;
    box-sizing: border-box;
}
.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15%;
  height: 100vh;
 
}

#div1 >h1{
    color: blue;
    font-size: 2.5em;
    font-weight: bold;
}
#div1 >span{
    
    font-size: 2.1em;
}


form{
    
    align-items: center;
    justify-content: center;
    width: 350px;
    max-width: 360px;
    margin: 50px auto;
    text-align: center; 
    background-color: #fff;
    padding: 20px;
    
}

input{
    display: block;
    padding: 5px;
    margin: 10px;
    width: 220px;
    outline: none;
    margin-left: 10px;
}
button{
    padding: 15px;
    margin:10px auto ;
    width: 245px;
    color: #fff;
    background-color: blue;
    font-weight: bold;
    border-radius: 16px;
    border: 1px solid blue;
    font-size: 12px;
}